APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

FB_ID=356607781215457
FB_SECRET=8559049c87f48992eb9124c3faba69fc
FB_REDIRECT=http://tuts1.dev/social/handle/facebook

TW_ID=i5dyGfOCSstOTYjpKwSq5j9LI
TW_SECRET=HgHeiEpCUtxFnY5BTJbspYjXFFlwvjYvQpDrmke2EerLz42OlG
TW_REDIRECT=http://tuts1.dev/social/handle/twitter

GOOGLE_ID=490128018211-ah4colfof88jo66u5a44eql6f3b8r5fv.apps.googleusercontent.com
GOOGLE_SECRET=pQYQ8zpFXcEDOIPVbal9enZZ
GOOGLE_REDIRECT=http://halalnutritionfood.app/social/handle/google
